+++
title = "Fieldnotes"
linkTitle = "Fieldnotes"
+++

{{< blocks/cover title="Welcome to my Notes" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Here are the notes I've taken during my work and for projects in my sparetime. Mainly for my own usage.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/pixelchrome/fieldnotes" %}}
We do a [Pull Request](https://github.com/pixelchrome/fieldnotes/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/pixelchrome" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}